$tempBorder: 1px solid black;

body {

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    button {
        border: $tempBorder;
        padding: 2em;
        margin: .5em;
    }    
    
    #wrapper {

        display: grid;
        grid-template-areas:
                        "head head"
                        "left right";

        #display-wrapper { 
            border: $tempBorder;
            margin: .5em;
            grid-area: head;

            & > div {
                border: $tempBorder;
                min-height: 30px;
                text-align: right;   
                display: flex;
                align-items: center;
                justify-content: flex-end;
                
                span {
                    margin-right: .5em;
                }

                #display {
                    
                }

                #result {
                    color: red;
                }
            }
        }
    
        #numbers {
            grid-area: left;
        }
        
        #operators {
            grid-area: right;
            display: flex;
            & > div:first-child {
                display: flex;
                flex-direction: column;
            }

            & > div:last-child {
                display: flex;
                flex-direction: column-reverse;

                & > :first-child, & > :last-child {
                    flex-grow: 0.5
                }
            }
        }
        
    }
}
